.gb-container {
	max-width: 1200px;
	margin: 0 auto;
}

.gb-row {
	display: flex;
	justify-content: space-around;
}

.gb-column {
	display: flex;
	flex-direction: column;
	width: 450px;
	align-items: center;
	margin-top: 3em;
}

.gb-column input {
	border-radius: 2px;
	margin: 10px 0;
	padding: 6px;
	font-size: 16px;
	width: 75%;
	border: 2px solid #336699;
}

.gb-column input:focus {
	box-shadow: 0px 0px 15px #336699;
}

.gb-column label {
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	background: -webkit-linear-gradient(#1e3d5b, #336699);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gb-header {
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	color: #1e3d5b;
}

.pop-header {
	border-bottom: 4px double #1e3d5b;
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	color: #1e3d5b;
	margin-bottom: -.5em;
}

.gb-ul {
	list-style-type: none;
	padding: 0;
}

li {
	list-style-type: none;
	text-decoration: none;
}

a {
	
	text-decoration: none;
}

.space-list-items li a {
	text-decoration: underline;
	color: #1e3d5b;
}


.languages {
	display: flex;
	justify-content: center;
}

.languages li {
	margin: 10px;
	font-weight: bold;
	cursor: pointer;
}

.popular-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
} 

.popular-item {
	margin: 20px;
	text-align: center;
	text-decoration: none;
	color: #1e3d5b;
}

.space-list-items {
	margin-bottom: 7px;
	color: #1e3d5b;
}

.avatar {
	width:150px;
	border-radius: 50%;
}

.popular-rank {
	font-size:20px;
	margin: 10px;
	color: #777;
}

.gb-nav {
	display: flex;
	font-size: 1.5em;
	background: -webkit-linear-gradient(#1e3d5b, #336699);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
	list-style-type: none;
	font-weight: bold;
}

.gb-nav li {
	list-style-type: none;
	margin-right: 15px;

}

.home-container {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.home-title {
	color: #3b3b3b;
	display: inline-flex;
	margin: .25em .25em;
}

.home-subtitle {
	color: #515151;	
	display: flex;
	margin-top: -.25em;
	margin-bottom: 1.5em;
}

.gb-button {
	background: #336699;
  background: -moz-linear-gradient(top, #336699 0%, #1e3d5b 100%); 
  background: -webkit-linear-gradient(top, #336699 0%,#1e3d5b 100%);
  background: linear-gradient(to bottom, #336699 0%,#1e3d5b 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336699', endColorstr='#1e3d5b',GradientType=0 );
	color: #FFF;
	border: none;
	font-size: 16px;
	border-radius: 3px;
	width: 12em;
	text-align: center;
	display: block;
	padding: 7px 0;
	margin: 2em auto;
}

.gb-button:hover {
	background: #336699;
  background: -moz-linear-gradient(top, #1e3d5b 0%, #336699 100%); 
  background: -webkit-linear-gradient(top, #1e3d5b 0%,#336699 100%);
  background: linear-gradient(to bottom, #1e3d5b 0%,#336699 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3d5b', endColorstr='#336699',GradientType=0 );
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

.gb-button:active {
	text-decoration: none;
	transform: translateY(1.5px);
}

.reset {
	border: none;
	background: transparent;
	color: #d0021B;
	display: block;
	width: 100%;
	text-align: center;
}

.reset:hover {
	cursor: pointer;
}

.newBattle {
	display: block;
	margin: 2em 1em;
	
}